Default/Cache/
Default/Code Cache/
Default/GPUCache/
Default/DawnGraphiteCache/
Default/DawnWebGPUCache/
Default/AutofillAiModelCache/
Default/optimization_guide_hint_cache_store/
Default/LOG
Default/LOG.old
Default/LOCK
